@import "tailwindcss";

@layer base {
  body {
    @apply bg-stone-950 text-stone-100 font-sans selection:bg-amber-500 selection:text-stone-950;
  }
}


.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #292524;
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d97706;
}